        <!-- SHARE TWITTER JS -->

    <script>
        window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
        <!-- END SHARE TWITTER JS -->    
    <p>SHARE YOUR PICTURE</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{URL}}" alt="" class="img-responsive">
            </div>

            <div class="col-md-6 social-buttons">
                   <div id="fb-root"></div>
                <script>
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-share-button" data-href="http://public:acspublic@www.yohannc.public.codeur.online/meme/index.php" data-layout="button" id="fb" data-mobile-iframe="false" data-size="large">
                  <a class="fb-xfbml-parse-ignore" target="_blank" href="http://public:acspublic@www.yohannc.public.codeur.online/meme/public">Partager</a></div>
              </button>
              <hr>
              <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=" data-size="large">Tweet</a>
              <hr>
              <div class="search">
                <span class="fa fa-link"></span>
                <input placeholder="" style="width: 100%; height: 56px;" value="{{IDGENE}}">
              </div>
            </div>
        </div>
    </div>


